<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.example.qlbhang.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.qlbhang.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.qlbhang.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.example.qlbhang.ProductServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>com.example.qlbhang.StoreServlet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>StaffsServlet</servlet-name>
        <servlet-class>com.example.qlbhang.StaffsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.example.qlbhang.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderItemServlet</servlet-name>
        <servlet-class>com.example.qlbhang.OrderItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/productservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/storeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderItemServlet</servlet-name>
    <url-pattern>/orderitemservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StaffsServlet</servlet-name>
    <url-pattern>/staffsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/orderServlet</url-pattern>
  </servlet-mapping>
</web-app>

